<header class="header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-2 col-md-3 mb-md-0 mb-3">
        <a href="#" class="logo justify-content-center justify-content-md-start">
          <img class="logo__img" src="./assets/images/logo.png" alt="Логотип Pizza Cheff">
          <span class="logo__title">Pizza cheff</span>
        </a>
      </div>
      <nav class="nav-wrap offset-xl-2 offset-md-1 col justify-content-center justify-content-md-start">
        <ul class="nav">
          <li class="nav-item">
            <a href="#products" class="nav-link">Пиццы</a>
          </li>
          <li class="nav-item">
            <a href="#products" class="nav-link">Напитки</a>
          </li>
          <li class="nav-item">
            <a href="#delivery" class="nav-link">Доставка и оплата</a>
          </li>
          <li class="nav-item">
            <a href="#delivery" class="nav-link">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
