<section class="hero section">
  <div class="container hero-container">
    <div class="row">
      <div class="col-lg-8 col-xl-7">
        <h1 class="hero-title hero__title">Самая вкусная пицца в мире <span class="text-active">только&nbsp;в Pizza Cheff</span></h1>
      </div>
    </div>
    <div class="benefits">
      <div class="benefits-row">
        <div class="benefits-item">
          <img src="/assets/images/hop.png" alt="Лучшее тесто" class="benefits-item__image">
          <div class="d-flex flex-column">
							<span class="benefits-item__title">
								Лучшее тесто
							</span>
            <p class="benefits-item__text">
              Мы создаем тесто только из отборной итальянской муки наивысшего качества
            </p>
          </div>
        </div>
        <div class="benefits-item">
          <img src="/assets/images/kitchen-pack.png" alt="Лучшие повара" class="benefits-item__image">
          <div class="d-flex flex-column">
							<span class="benefits-item__title">
								лучшие повара
							</span>
            <p class="benefits-item__text">
              Пиццы готовят самые профессиональные итальянские&nbsp;повара
            </p>
          </div>
        </div>
      </div>
      <div class="benefits-row">
        <div class="benefits-item">
          <img src="/assets/images/seo-and-web.png" alt="Гарантия качества" class="benefits-item__image">
          <div class="d-flex flex-column">
							<span class="benefits-item__title">
								гарантия качества
							</span>
            <p class="benefits-item__text">
              Наша пиццерия получила множество наград и признаний по всему миру
            </p>
          </div>
        </div>
        <div class="benefits-item">
          <img src="/assets/images/holidays.png" alt="Отборные рецепты" class="benefits-item__image">
          <div class="d-flex flex-column">
							<span class="benefits-item__title">
								отборные рецепты
							</span>
            <p class="benefits-item__text">
              Мы используем рецепты от&nbsp;мировых лидеров в изготовлении пиццы
            </p>
          </div>
        </div>
      </div>
    </div>

    <a href="#products" class="btn hero__btn">
      Выбрать пиццу
    </a>
  </div>
</section>
